<table>
    <tr>
        <td><img src="{{site.baseurl}}/images/logo.png" height="60" title="Pair" alt=""></td>
        <td><a href="{{site.baseurl}}/csa/unit5/5">Unit 5</a></td>
        <td><a href="{{site.baseurl}}/csa/unit5/5.1/">5.1</a></td>
        <td><a href="{{site.baseurl}}/csa/unit5/5.2/">5.2</a></td>
        <td><a href="{{site.baseurl}}/csa/unit5/5.4/">5.4</a></td>
        <td><a href="{{site.baseurl}}/csa/unit5/5.41/">5.41</a></td>
        <td><a href="{{site.baseurl}}/csa/unit5/5.5/">5.5</a></td>
        <td><a href="{{site.baseurl}}/csa/unit5/5.6/">5.6</a></td>
        <td><a href="{{site.baseurl}}/csa/unit5/5.7/">5.7</a></td>
        <td><a href="{{site.baseurl}}/csa/unit5/5.8/">5.8</a></td>
        <td><a href="{{site.baseurl}}/csa/unit5/5.9/">5.9</a></td>
        <td><a href="{{site.baseurl}}/csa/unit5/homework/">HW</a></td>
    </tr>
</table>